openapi: 3.0.0
info:
  description: >-
    API spec for AStAPrint admin routes
  version: 0.3.0
  title: AStAPrint REST API - Admin Routes
  contact:
    email: it@asta.upb.de
  license:
    name: AGPLv3
    url: 'https://www.gnu.org/licenses/agpl-3.0.html'
tags:
  - name: Authorize
    description: Authorize yourself as admin
  - name: Users
    description: User management
  - name: Admins
    description: Admin management
  - name: Dispatcher Queue
    description: Surveillance of the dispatcher queue
  - name: Printers
    description: Printer Management
  - name: Journal
    description: Complete payment journal access
paths:
  '/tokens':
    post:
      operationId: post_admin_token
      summary: Get new token using username:password auth
      tags:
        - Authorize
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: base64
              example: >-
                "eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ"
      security:
        - basicAuth: []
  '/printers':
    get:
      operationId: get_printers
      tags:
        - Printers
      summary: Get list of all printers in the system
    post:
      operationId: post_printer
      tags:
        - Printers
      summary: Add a new printer to the system
  '/printers/{id}':
    get:
      operationId: get_single_printer
      tags:
        - Printers
      summary: Get information on a single printer
    delete:
      operationId: delete_printer
      tags:
        - Printers
      summary: Delete a printer from the system
    put:
      operationId: put_printer_details
      tags:
        - Printers
      summary: Update printer details for an existing printer
  '/printers/{device_id}/queue':
    get:
      operationId: get_queue
      tags:
        - Printers
      summary: Show print queue status of a printer
    delete:
      operationId: delete_queue
      tags:
        - Printers
      summary: Clear the print queue of a given printer
  '/journal':
    get:
      operationId: get_journal
      tags:
        - Journal
      summary: Show the complete (all user) journal
    post:
      operationId: post_to_journal
      tags:
        - Journal
      summary: Manually add a transaction to the journal
  '/journal/tokens':
    get:
      operationId: get_journal_tokens
      tags:
        - Journal
      summary: Show existing generated journal tokens and their status
    post:
      operationId: post_journal_token
      tags:
        - Journal
      summary: Create a new batch of journal tokens with a given value
  '/jobs/queue':
    get:
      operationId: get_dispatcher_queue
      tags:
        - Dispatcher Queue
      summary: Show complete list of currently processing documents in the dispatcher
  '/':
    post:
      operationId: post_new_admin
      tags:
        - Admins
      summary: Add a new admin account
  '/users/{id}':
    get:
      operationId: get_user
      tags:
        - Users
      summary: Get information on a single user
  '/users/{id}/credit':
    get:
      operationId: get_user_credit
      tags:
        - Users
      summary: Get credit of a given user account
  '/users/{id}/journal':
    get:
      operationId: get_user_journal
      tags:
        - Users
      summary: Show transactions for a specific user
  '/users':
    get:
      operationId: get_all_users
      tags:
        - Users
      summary: Get a list of all users
  '/users/{id}/password':
    post:
      operationId: reset_user_password
      tags:
        - Users
      summary: Reset a user`s password and send him a temporary password via mail
    put:
      operationId: change_user_password
      tags:
        - Users
      summary: Change user`s password to a defined one
  '/users/{id}/name':
    put:
      operationId: change_user_name
      tags:
        - Users
      summary: Change username of a user
  '/users/{id}/email':
    put:
      operationId: change_user_email
      tags:
        - Users
      summary: Change or set email of a user
  '/users/{id}/locked':
    put:
      operationId: change_user_locked
      tags:
        - Users
      summary: Define if a an account is locked
  '/users/tou_accept':
    post:
      operationId: clear_tou_accept
      tags:
        - Users
      summary: Reset terms of use acceptance for all users
servers:
  - url: 'https://astaprint.upb.de/api/v1/admin'
    description: Production server
components:
  securitySchemes:
    token:
      type: apiKey
      name: X-Api-Key
      in: header
    basicAuth:
      type: http
      scheme: basic
  responses:
    UnauthorizedError:
      description: API key is missing or invalid
      headers:
        WWW_Authenticate:
          schema:
            type: string
    ServerError:
      description: Internal server error
    NoNetworkAuth:
      description: You need to authorize yourself to your network (eg. webauth)
    ServiceUnavailiable:
      description: The servie is temporary unavaliable
    BadGateway:
      description: The server is up but the service seems to be down
  schemas:
    Transaction:
      type: object
      properties:
        value:
          type: number
        timestamp:
          type: string
        description:
          type: string
    DispatcherTask:
        type: object
        properties:
          uid:
            type: string
            description: uid of specific task - hexadecimal encoded
          user_id:
            type: integer
            format: uint32
    DispatcherQueue:
        type: array
        items:
          $ref: '#/components/schemas/DispatcherTask'
    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        credit:
          type: number
        tokens:
          type: integer
        token_id:
          type: integer
    Printer:
      type: object
      properties:
        id:
          type: integer
    PrintTask:
      type: object
      properties:
        uid:
          type: string
        filename:
          type: string
        keep:
          type: boolean
        color:
          type: boolean
        a3:
          type: boolean
        duplex:
          type: boolean
    PrintQueue:
      type: array
      items:
        $ref: '#/components/schemas/PrintTask'